*{
  padding: 0;
  margin: 0;
  font-family:  "Poppins", sans-serif; ;
  box-sizing: border-box;
}
h1{
  font-size: 45px;
  font-weight: 800;
 
}
.hero{
height: 119vh;
width: 100%;

  background: url(images/header_bg.png) no-repeat left bottom  ;
  background-size: cover;
  background-position: bottom right;

}
  

nav{
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 45px 250px;}
  li{
    list-style-type: none;
    padding: 10px 25px;
    color: white;
  display: inline-block;}
  

 a{
  color: black;
  text-decoration: none;
  font-size: 16px;
 }


  .btn{
    background-color: #FF4500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 170px;
    color: white;
    font-size: 30px; 
}

img{
position: absolute;
padding-top: 800px;
padding-left: 500px;
}
.btn1{
  background-color: #FF4500;
  border: 50px solid transparent;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
}



.description{
  position: absolute;
  top: 50%;
  left:8%;
 ;
}



































